Repository nuhafakrudeen/GrowMyGarden, changes with the labels that .github/labeler.yml gives for each.
All labels: KMP, iOS

.github/labeler.yml:

KMP:
- changed-files:
    - any-glob-to-any-file:
      - shared/**

#Android:
#- changed-files:
#    - any-glob-to-any-file:
#      - androidApp/**

iOS:
- changed-files:
    - any-glob-to-any-file:
      - iosApp/**

Use local collection instance
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

Revert "Deleted API module"
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
Labels: KMP

Change to Lazy declaration instead of getter syntax
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

getCollection if already exists instead of createCollection
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

Fixed Plants saving after delete
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

Fixed crash when adding plants not in api
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Lint fix
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Delete Prints in Shared
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

testing code
  iosApp/Configuration/Config.xcconfig
  iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/Info.plist
  iosApp/iosApp/iOSApp.swift
Labels: iOS

Added comments on some of the things I worked on (#58)
  shared/src/commonMain/kotlin/com/gmg/growmygarden/NotificationHandler.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/NotificationHandler.ios.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

small var fixes
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
Labels: iOS

removed prints
  iosApp/iosApp/ContentView.swift
Labels: iOS

Remove Final Prints
  iosApp/iosApp/iOSApp.swift
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP, iOS

Add Swift Lint to Lint Checks
  .github/workflows/lint.yml
Labels: none

Delete Prints (#56)
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP, iOS

split up contentview
  iosApp/iosApp/AuthManager.swift
  iosApp/iosApp/AuthView.swift
  iosApp/iosApp/BackendPlantAdapter.swift
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/HomeComponents.swift
  iosApp/iosApp/NotificationManagers.swift
  iosApp/iosApp/PlantImageService.swift
  iosApp/iosApp/PlantModels.swift
  iosApp/iosApp/PlantsHomeView.swift
  iosApp/iosApp/RootView.swift
  iosApp/iosApp/SearchModels.swift
  iosApp/iosApp/SearchView.swift
Labels: iOS

removed contentview
  iosApp/iosApp/ContentView.swift
Labels: iOS

Save local changes before switching branches
  iosApp/iosApp/AuthManager.swift
  iosApp/iosApp/AuthView.swift
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/NotificationManagers.swift
  iosApp/iosApp/RootView.swift
Labels: iOS

Add Swift Lint to Lint Checks
  .github/workflows/lint.yml
Labels: none

Fixed notes
  iosApp/iosApp/BackendPlantAdapter.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
Labels: KMP, iOS

lint fix
  iosApp/iosApp/HomeComponents.swift
  iosApp/iosApp/RootView.swift
  iosApp/iosApp/SearchView.swift
  iosApp/iosApp/iOSApp.swift
Labels: iOS

fixed file conflict
  iosApp/iosApp/RootView.swift
Labels: iOS

Add Partial Submission Documents
  submissionDocuments/Release Plan 1.0.pdf
  submissionDocuments/Release Summary Doc.pdf
  submissionDocuments/Sprint #1 Report.pdf
  submissionDocuments/Sprint #2 Report.pdf
  submissionDocuments/Sprint #3 Report.pdf
  submissionDocuments/Sprint #4 Report.pdf
  submissionDocuments/Sprint Four Plan.pdf
  submissionDocuments/Sprint Plan One.pdf
  submissionDocuments/Sprint Three Plan.pdf
  submissionDocuments/Sprint Two Plan.pdf
  submissionDocuments/Team Working Agreement.pdf
  submissionDocuments/Test Plan and Report - Grow My Garden.pdf
Labels: none

Add Partial Submission Documents
  submissionDocuments/Release Plan 1.0.pdf
  submissionDocuments/Release Summary Doc.pdf
  submissionDocuments/Sprint #1 Report.pdf
  submissionDocuments/Sprint #2 Report.pdf
  submissionDocuments/Sprint #3 Report.pdf
  submissionDocuments/Sprint #4 Report.pdf
  submissionDocuments/Sprint Four Plan.pdf
  submissionDocuments/Sprint Plan One.pdf
  submissionDocuments/Sprint Three Plan.pdf
  submissionDocuments/Sprint Two Plan.pdf
  submissionDocuments/Team Working Agreement.pdf
  submissionDocuments/Test Plan and Report - Grow My Garden.pdf
Labels: none
