Repository nuhafakrudeen/GrowMyGarden, changes with the labels that .github/labeler.yml gives for each.
All labels: KMP, iOS

Made searchPlantInfoDatabase just return the list instead of saving it somewhere
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Ran the spotlessApply
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Fixing notification
  iosApp/iosApp/ContentView.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP, iOS

Fix iOS color assets for Dark Mode
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/Contents.json
  iosApp/iosApp/Assets.xcassets/DarkGreen.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/LeafGreen.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/LightGreen.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/SoftCream.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/Symbol.symbolset/Contents.json
  iosApp/iosApp/ContentView.swift
Labels: iOS

Fix iOS color assets for Dark Mode (#34)
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/Contents.json
  iosApp/iosApp/Assets.xcassets/DarkGreen.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/LeafGreen.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/LightGreen.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/SoftCream.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/Symbol.symbolset/Contents.json
  iosApp/iosApp/ContentView.swift
Labels: iOS

Update Bundle Version (#30)
  .github/workflows/build-ios-release.yml
  iosApp/iosApp/Info.plist
Labels: iOS

Update README
  README.md
Labels: none

Created a way to create trimming notifications
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Update PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

fixed the google log in issue and some error messge issues
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/Info.plist
  iosApp/iosApp/iOSApp.swift
Labels: iOS

Fixed authentication
  iosApp/iosApp/ContentView.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP, iOS

Fixed notification i think
  iosApp/iosApp/ContentView.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP, iOS

User Specific Database & Lint
  shared/src/commonMain/kotlin/com/gmg/growmygarden/auth/UserManager.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/NotificationModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/UserModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/LoginViewModel.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

User Specific Database & Lint
  shared/src/commonMain/kotlin/com/gmg/growmygarden/auth/UserManager.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/NotificationModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/UserModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/LoginViewModel.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Fixed everything hopefully
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Clear Notifications on Plant Delete
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Add Swift Lint to Lint Checks
  .github/workflows/lint.yml
Labels: none

Implemented searach database
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP, iOS

Fixed lint
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
Labels: KMP, iOS

Image store completed
  iosApp/iosApp/ContentView.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/image/PlantImage.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP, iOS

search database
  iosApp/iosApp/ContentView.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantNestedModels.kt
Labels: KMP, iOS

search database edits
  iosApp/iosApp/ContentView.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantNestedModels.kt
Labels: KMP, iOS

Fixed notification and photos
  iosApp/iosApp/ContentView.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP, iOS

image fix
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/image/PlantImage.kt
Labels: KMP

image fixs
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
Labels: KMP

image fixss
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
Labels: KMP

Add Back Info.plist Keys
  iosApp/iosApp/Info.plist
Labels: iOS

Fix GoogleService-Info.plist
  .github/workflows/build-ios-release.yml
Labels: none

Stop Unit Tests From Always Running
  .github/workflows/check-pr.yml
  .github/workflows/run-tests.yml
Labels: none

Fixed crashes and search
  iosApp/iosApp/ContentView.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP, iOS

Fixed lint
  iosApp/iosApp/ContentView.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP, iOS

Apply SwiftLint fixes and prepare release 1.5.0 and add dif api key
  iosApp/iosApp/GoogleService-Info.plist
  iosApp/iosApp/iOSApp.swift
Labels: iOS

Fix Label Based Test Starting
  .github/workflows/check-pr.yml
  .github/workflows/label.yml
Labels: none

Fix Label Based Test Starting (#52)
  .github/workflows/check-pr.yml
  .github/workflows/label.yml
Labels: none

Add Notes to Database
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
Labels: KMP

Added comments
  shared/src/commonMain/kotlin/com/gmg/growmygarden/NotificationHandler.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/NotificationHandler.ios.kt
Labels: KMP

Add Notes to Database (#51)
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
Labels: KMP

Fix Plant Deleting
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

Added some more comments
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Deleted API module
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
Labels: KMP

.github/labeler.yml:

KMP:
- changed-files:
    - any-glob-to-any-file:
      - shared/**

#Android:
#- changed-files:
#    - any-glob-to-any-file:
#      - androidApp/**

iOS:
- changed-files:
    - any-glob-to-any-file:
      - iosApp/**
