Repository nuhafakrudeen/GrowMyGarden, changes with the labels that .github/labeler.yml gives for each.
All labels: KMP, iOS

.github/labeler.yml:

KMP:
- changed-files:
    - any-glob-to-any-file:
      - shared/**

#Android:
#- changed-files:
#    - any-glob-to-any-file:
#      - androidApp/**

iOS:
- changed-files:
    - any-glob-to-any-file:
      - iosApp/**

Remove Xcode select
  .github/workflows/run-tests.yml
Labels: none

Downgrade Xcode Version?
  .github/actions/ios-setup/action.yml
Labels: none

Upgrade Xcode
  .github/actions/ios-setup/action.yml
  shared/build.gradle.kts
Labels: KMP

Link to Swift Builtins
  shared/build.gradle.kts
Labels: KMP

Pin Xcode Version
  .github/workflows/run-tests.yml
  shared/build.gradle.kts
Labels: KMP

Increase Xcode Version to support Firebase 12.x
  .github/workflows/run-tests.yml
Labels: none

Revert "Increase Xcode Version to support Firebase 12.x"
  .github/workflows/run-tests.yml
Labels: none

Add Library Location
  shared/build.gradle.kts
Labels: KMP

pin simulator version
  shared/build.gradle.kts
Labels: KMP

Use Cocoapods to manage Firebase Deps
  .github/workflows/run-tests.yml
  shared/build.gradle.kts
  shared/shared.podspec
Labels: KMP

Stable Kotlin XCode Version
  .github/actions/ios-setup/action.yml
  .github/workflows/run-tests.yml
Labels: none

Revert "Stable Kotlin XCode Version"
  .github/actions/ios-setup/action.yml
  .github/workflows/run-tests.yml
Labels: none

Suppress Kotlin Xcode Stability
  gradle.properties
Labels: none

Remove FirebaseAuth pod
  shared/build.gradle.kts
  shared/shared.podspec
Labels: KMP

Remove simulator version
  shared/build.gradle.kts
Labels: KMP

Remove Pod?
  shared/build.gradle.kts
  shared/shared.podspec
Labels: KMP

Add them back
  shared/build.gradle.kts
Labels: KMP

Setup Plist
  .github/actions/ios-setup/action.yml
  .github/workflows/build.yml
  .github/workflows/run-tests.yml
Labels: none

Fixed Plist
  .github/actions/ios-setup/action.yml
Labels: none

Setup Plist
  .github/actions/ios-setup/action.yml
Labels: none

Fix Secret Inheritence
  .github/workflows/check-pr.yml
Labels: none

new updated frontend code
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
Labels: iOS

auth added, profile updates, removed forum
  iosApp/iosApp.xcodeproj/project.pbxproj
Labels: iOS

new updated code with auth
  .gitignore
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/Info.plist
  iosApp/iosApp/iOSApp.swift
  iosApp/iosApp/iosApp.entitlements
Labels: iOS

Debug Plist
  .github/actions/ios-setup/action.yml
Labels: none

Update .gitignore to properly ignore GoogleService-Info.plist
  .gitignore
Labels: none

auth implemented, profile page changed, removed forum
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/ContentView.swift
Labels: iOS

Simple User Auth
  shared/src/commonMain/kotlin/com/gmg/growmygarden/auth/UserManager.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/UserModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/LoginViewModel.kt
Labels: KMP

Fix Spotless After Rebase
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
Labels: KMP

Fix Database Tests
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Fix Insert Expressions
  .github/workflows/build-ios-release.yml
Labels: none

Fix Insert Expressions
  .github/workflows/build-ios-release.yml
Labels: none

Add View Model Module to Koin
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
Labels: KMP

made changes to all pages
  iosApp/iosApp/ContentView.swift
Labels: iOS

Add Grow My Garden app icon
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/Contents.json
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_1024x1024.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_120x120.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_152x152.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_167x167.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_180x180.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_20x20.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_29x29.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_40x40.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_58x58.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_60x60.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_76x76.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_80x80.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_87x87.png
Labels: iOS

Add Grow My Garden app icon (#14)
  .github/actions/ios-setup/action.yml
  .github/workflows/build.yml
  .github/workflows/check-pr.yml
  .github/workflows/run-tests.yml
  .gitignore
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/Contents.json
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_1024x1024.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_120x120.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_152x152.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_167x167.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_180x180.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_20x20.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_29x29.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_40x40.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_58x58.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_60x60.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_76x76.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_80x80.png
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/icon_87x87.png
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/Info.plist
  iosApp/iosApp/iOSApp.swift
  iosApp/iosApp/iosApp.entitlements
Labels: iOS

Fix Archive Path
  .github/workflows/build-ios-release.yml
Labels: none

Fix Insert Expressions
  .github/workflows/build-ios-release.yml
Labels: none

Update Release Workflow
  .github/workflows/build-ios-release.yml
Labels: none

Update Java Name
  .github/workflows/build-ios-release.yml
Labels: none
