Repository nuhafakrudeen/GrowMyGarden, changes with the labels that .github/labeler.yml gives for each.
All labels: KMP, iOS

.github/labeler.yml:

KMP:
- changed-files:
    - any-glob-to-any-file:
      - shared/**

#Android:
#- changed-files:
#    - any-glob-to-any-file:
#      - androidApp/**

iOS:
- changed-files:
    - any-glob-to-any-file:
      - iosApp/**

Change Code Sign Identity
  .github/workflows/build-ios-release.yml
Labels: none

Update Run Name
  .github/workflows/build-ios-release.yml
Labels: none

Use Dist Profile
  .github/workflows/build-ios-release.yml
Labels: none

Update Workflow Name
  .github/workflows/build-ios-release.yml
Labels: none

Remove Trailing Whitespace >:(
  .github/workflows/build-ios-release.yml
Labels: none

update Scheme Name
  .github/workflows/build-ios-release.yml
Labels: none

Fix Run Name
  .github/workflows/build-ios-release.yml
Labels: none

Update Runs On Version
  .github/workflows/build-ios-release.yml
Labels: none

Added dependency packages
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: iOS

Don't force signing style
  .github/workflows/build-ios-release.yml
Labels: none

Back to signing style with proper certs
  .github/workflows/build-ios-release.yml
Labels: none

Fix Release signing configuration
  iosApp/iosApp.xcodeproj/project.pbxproj
Labels: iOS

Successfully linked backend and frontend through Iosapp.swift. Created test cases to check
  GrowAGarden.xcworkspace/contents.xcworkspacedata
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
Labels: KMP, iOS

Fix Release signing configuration (#18)
  iosApp/iosApp.xcodeproj/project.pbxproj
Labels: iOS

correct pr
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/Contents.json
Labels: iOS

Fix Release signing configuration
  iosApp/iosApp.xcodeproj/project.pbxproj
Labels: iOS

Fix Spelling Mistakes
  .github/workflows/build-ios-release.yml
Labels: none

Automatic Signing Style
  .github/workflows/build-ios-release.yml
Labels: none

Remove Code Signing Identity & Style
  .github/workflows/build-ios-release.yml
Labels: none

Added PlantsApi.kt
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantsApi.kt
Labels: KMP

Allow Provision Updates
  .github/workflows/build-ios-release.yml
Labels: none

Deleted PlantsApi
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantsApi.kt
Labels: KMP

CODE_SINGING_ALLOWED=No?
  .github/workflows/build-ios-release.yml
Labels: none

Pin XCode Version
  .github/workflows/build-ios-release.yml
Labels: none

Added additional test cases
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
Labels: iOS

Provide ASC Key to build
  .github/workflows/build-ios-release.yml
Labels: none

Seeing if kotr will work
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
Labels: KMP

Added backend integration with frontend for adding and deleting plants
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
Labels: KMP, iOS

Absolute Path for ASC_KEY
  .github/workflows/build-ios-release.yml
Labels: none

Fix Flag Name
  .github/workflows/build-ios-release.yml
Labels: none

Add ASC Key ID
  .github/workflows/build-ios-release.yml
Labels: none

Pushing because toml might be broken
  gradle/libs.versions.toml
  shared/build.gradle.kts
Labels: KMP

Fixed the toml
  gradle/libs.versions.toml
Labels: none

Fix Depredacted Export Method
  .github/workflows/build-ios-release.yml
Labels: none

Add needed icons
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/Contents.json
Labels: iOS

Hook up Firebase auth & guest login, fix Info.plist and project config
  iosApp/GoogleService-Info.plist
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/ContentView.swift
Labels: iOS

Fix Typo
  .github/workflows/build-ios-release.yml
Labels: none

Added implementation for ktor
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
Labels: KMP

Completed Integration
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/NotificationModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
Labels: KMP

Saving some work
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP
