Repository nuhafakrudeen/GrowMyGarden, changes with the labels that .github/labeler.yml gives for each.
All labels: KMP, iOS

.github/labeler.yml:

KMP:
- changed-files:
    - any-glob-to-any-file:
      - shared/**

#Android:
#- changed-files:
#    - any-glob-to-any-file:
#      - androidApp/**

iOS:
- changed-files:
    - any-glob-to-any-file:
      - iosApp/**

Some changes after ./gradle spotlessApply
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

new updated code with auth
  .gitignore
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/Info.plist
  iosApp/iosApp/iOSApp.swift
  iosApp/iosApp/iosApp.entitlements
Labels: iOS

Update .gitignore to properly ignore GoogleService-Info.plist
  .gitignore
Labels: none

Changed to savee Uuids instead
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Handled most comments
  shared/src/commonMain/kotlin/com/gmg/growmygarden/NotificationHandler.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/NotificationModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/NotificationViewModel.kt
Labels: KMP

Just deleted the log stuff
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Actually fixed the test
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/NotificationModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/NotificationTest.kt
Labels: KMP

Ran ./gradlew spotlessApply
  shared/src/commonTest/kotlin/com/gmg/growmygarden/NotificationTest.kt
Labels: KMP

Update Release Workflow
  .github/workflows/build-ios-release.yml
Labels: none

Update Runs On Version
  .github/workflows/build-ios-release.yml
Labels: none

Update Workflow Name
  .github/workflows/build-ios-release.yml
Labels: none

Update Java Name
  .github/workflows/build-ios-release.yml
Labels: none

auth implemented, profile page changed, removed forum
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/ContentView.swift
Labels: iOS

auth added, profile updates, removed forum
  iosApp/iosApp.xcodeproj/project.pbxproj
Labels: iOS

Build Test
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/shared.podspec
  shared/src/commonMain/kotlin/com/gmg/growmygarden/auth/LoginService.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/auth/UserAuthProvider.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/UserModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/LoginViewModel.kt
Labels: KMP

Define OS Version
  shared/build.gradle.kts
Labels: KMP

Fix Linker Issues?
  shared/build.gradle.kts
Labels: KMP

Update Xcode Version
  .github/actions/ios-setup/action.yml
Labels: none

Fix LoginViewModel
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/LoginViewModel.kt
Labels: KMP

Fix LoginService Errors
  shared/src/commonMain/kotlin/com/gmg/growmygarden/auth/LoginService.kt
Labels: KMP

Downgrade Firebase
  shared/build.gradle.kts
Labels: KMP

Don't Neep SMP4KMP
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  shared/build.gradle.kts
Labels: KMP

Test Mostly Complete Build
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/auth/LoginService.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/auth/UserAuthProvider.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/UserModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/LoginViewModel.kt
Labels: KMP

Fix Koin Errors
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
Labels: KMP

Add Firebase Swift Frameworks
  iosApp/iosApp.xcodeproj/project.pbxproj
Labels: iOS

Fix Database Test DI
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Finish Removing SPM4KMP
  shared/shared.podspec
Labels: KMP

Mock User Auth for database tests
  shared/src/commonTest/kotlin/com/gmg/growmygarden/DummyUserAuthProvider.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Setup Plist
  .github/actions/ios-setup/action.yml
Labels: none

Setup Plist
  .github/actions/ios-setup/action.yml
  .github/workflows/build.yml
  .github/workflows/run-tests.yml
Labels: none

Setup Plist
  .github/actions/ios-setup/action.yml
  .github/workflows/build.yml
  .github/workflows/run-tests.yml
Labels: none

Remoave Firebase From Test Dependencies
  shared/build.gradle.kts
Labels: KMP

Debug Plist
  .github/actions/ios-setup/action.yml
Labels: none

Fixed Plist
  .github/actions/ios-setup/action.yml
Labels: none

Fix Secret Inheritence
  .github/workflows/check-pr.yml
Labels: none

Saving some work for now for FTS
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

Basic FTS
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

Add FirebaseAuth Linking
  shared/build.gradle.kts
Labels: KMP

Remove Bad Framework Link
  shared/build.gradle.kts
Labels: KMP

Common Dependencies Work Around
  .github/workflows/run-tests.yml
  shared/build.gradle.kts
Labels: KMP
