Repository nuhafakrudeen/GrowMyGarden, changes with the labels that .github/labeler.yml gives for each.
All labels: KMP, iOS

Test Gradle Env
  shared/build.gradle.kts
Labels: KMP

Mock API Key
  shared/build.gradle.kts
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Test Secrets.plist for secret storage
  .github/workflows/build-ios-release.yml
  .github/workflows/run-tests.yml
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/SecretsTest.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Update Asserts and Lint
  shared/src/commonTest/kotlin/com/gmg/growmygarden/SecretsTest.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Secrets Debug Messages
  shared/src/commonTest/kotlin/com/gmg/growmygarden/SecretsTest.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Load Secrets From File System Instead of Bundle
  .github/workflows/run-tests.yml
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/SecretsTest.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Get CWD
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Fallback to Bundle
  .github/actions/job-setup/action.yml
  .github/workflows/run-tests.yml
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Generate Kotlin Secrets File
  .github/workflows/run-tests.yml
  .gitignore
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/SecretsTest.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Update Koin.Properties Usage (#22)
  .github/actions/job-setup/action.yml
  .github/workflows/build-ios-release.yml
  .github/workflows/run-tests.yml
  .gitignore
  gradle.properties
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/util/GetApiKey.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/util/GetApiKey.ios.kt
Labels: KMP

Update Koin.Properties Usage (#22)
  .github/actions/job-setup/action.yml
  .github/workflows/build-ios-release.yml
  .github/workflows/run-tests.yml
  .gitignore
  gradle.properties
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/util/GetApiKey.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/util/GetApiKey.ios.kt
Labels: KMP

Changed to call function to get key
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Test Data Sync
  .github/workflows/build-ios-release.yml
  .github/workflows/run-tests.yml
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Fix Unintented Swift Changes
  iosApp/iosApp/ContentView.swift
Labels: iOS

More Asserts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Add Certs
  .github/workflows/build-ios-release.yml
  .github/workflows/run-tests.yml
Labels: none

Pin Certs
  .github/workflows/run-tests.yml
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Integration begins
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/NotificationModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
Labels: KMP, iOS

Fixed spotlessApply
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
Labels: KMP

Update Release Workflow (#15)
  .github/workflows/build-ios-release.yml
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/Contents.json
Labels: iOS

Integration (#25)
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/NotificationModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
Labels: KMP, iOS

Changed it so that notifications need a Duration object passed to it
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Change Bundle And Version
  .github/workflows/build-ios-release.yml
  iosApp/iosApp/Info.plist
Labels: iOS

Added some ids that will be pulled from API
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Change Bundle And Version
  .github/workflows/build-ios-release.yml
  iosApp/iosApp/Info.plist
Labels: iOS

Integration begins
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
Labels: KMP

Fixed crashes from recent duration change
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
Labels: KMP

Lint
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
Labels: KMP

Fixed notification and lint.
  iosApp/iosApp/ContentView.swift
Labels: iOS

Fixed crashes from recent duration change
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
Labels: KMP

Lint
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
Labels: KMP

Fixed notification and lint.
  iosApp/iosApp/ContentView.swift
Labels: iOS

Integration begins
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
Labels: KMP

Actually Fix Bundle Version
  .github/workflows/build-ios-release.yml
Labels: none

Added changes to the Plant.doc
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
Labels: KMP

integration for justin changes (#28)
  iosApp/iosApp/ContentView.swift
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
Labels: KMP, iOS

Add Read Image Data to Dashboard View Model
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Update Bundle Version
  .github/workflows/build-ios-release.yml
  iosApp/iosApp/Info.plist
Labels: iOS

Integration begins
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/ViewModelModule.kt
Labels: KMP

Fixed crashes from recent duration change
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
Labels: KMP

.github/labeler.yml:

KMP:
- changed-files:
    - any-glob-to-any-file:
      - shared/**

#Android:
#- changed-files:
#    - any-glob-to-any-file:
#      - androidApp/**

iOS:
- changed-files:
    - any-glob-to-any-file:
      - iosApp/**
