Repository nuhafakrudeen/GrowMyGarden, changes with the labels that .github/labeler.yml gives for each.
All labels: KMP, iOS

.github/labeler.yml:

KMP:
- changed-files:
    - any-glob-to-any-file:
      - shared/**

#Android:
#- changed-files:
#    - any-glob-to-any-file:
#      - androidApp/**

iOS:
- changed-files:
    - any-glob-to-any-file:
      - iosApp/**

Working on notifications
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/Platform.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/Platform.ios.kt
Labels: KMP

Test Database
  build.gradle.kts
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/Database.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/Plant.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Implemented UI for reminder, to do, and also added option to add plants.
  gradlew
  iosApp/iosApp/Assets.xcassets/Contents.json
  iosApp/iosApp/Assets.xcassets/DarkGreen.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/LeafGreen.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/LightGreen.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/SoftCream.colorset/Contents.json
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/iOSApp.swift
Labels: iOS

Implemented UI for editing preexisting plants in the dashboard.
  iosApp/iosApp/ContentView.swift
Labels: iOS

Implemented UI for comeplete dashboard.
  iosApp/iosApp/ContentView.swift
Labels: iOS

Added notifications
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/Info.plist
Labels: iOS

Test Database
  .github/workflows/run-tests.yml
  build.gradle.kts
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/Database.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/Plant.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/Database.ios.kt
Labels: KMP

Added notificationsand actually made it work
  iosApp/iosApp/ContentView.swift
Labels: iOS

Test Workflow
  .github/workflows/run-tests.yml
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Force Ios Test Dependencies
  shared/build.gradle.kts
Labels: KMP

Fix Typo
  gradle/libs.versions.toml
  shared/build.gradle.kts
Labels: KMP

Add Framework to Debug Binary
  shared/build.gradle.kts
Labels: KMP

Add Framework to Debug
  shared/build.gradle.kts
Labels: KMP

Target Simulator Instead of physical device for CI
  .github/workflows/build.yml
Labels: none

Fix Base Name??
  shared/build.gradle.kts
Labels: KMP

Add Framework Path for CI Build
  .github/workflows/build.yml
Labels: none

Add Actual Test
  shared/build.gradle.kts
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Fix Test Issue
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Seg Fault?
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/Plant.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Coroutines in Tests?
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Remove Extra Build Info
  .github/workflows/run-tests.yml
Labels: none

Added CouchbaseLitSwift package
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: iOS

Remove extra build command flags
  .github/workflows/build.yml
Labels: none

Remove Observable View Model
  shared/build.gradle.kts
Labels: KMP

Add More Database Tests
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/Plant.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Add Uuid & Update Tests
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Update Tests
  shared/build.gradle.kts
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Test UpdateDatabaseStatus
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Debug Printing
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDoc.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Named Collection
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

Use UUID as id
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

More Debug Printing
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
Labels: KMP

More Debug Printing
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Fix Delete Bug & Add Delays for debounce
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Empty DB before update test
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Update Tests
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Debug
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

No Concurrent Modification?
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

Change Contains?
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP

;-;
  shared/src/commonTest/kotlin/com/gmg/growmygarden/PlantDatabaseTest.kt
Labels: KMP
