Repository nuhafakrudeen/GrowMyGarden, changes with the labels that .github/labeler.yml gives for each.
All labels: KMP, iOS

.github/labeler.yml:

KMP:
- changed-files:
    - any-glob-to-any-file:
      - shared/**

#Android:
#- changed-files:
#    - any-glob-to-any-file:
#      - androidApp/**

iOS:
- changed-files:
    - any-glob-to-any-file:
      - iosApp/**

Committing files
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/TrefleApi.kt
Labels: KMP

Add Final Icon
  iosApp/iosApp/Assets.xcassets/AppIcon 1.appiconset/Contents.json
Labels: iOS

Saving current progress
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
Labels: KMP

PlantInfoDatabase done
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/InfoDataModule.kt
Labels: KMP

More work on API/Searching
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/InfoDataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Backend FTS implemented
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDatabase.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantInfoDoc.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/data/source/PlantNestedModels.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/InformationDataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Added way for front end to access search as well as see results
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
Labels: KMP

Fixed some comments
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/InformationDataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
  shared/src/commonMain/resources/apikeys.properties
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Just saving work
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/AppModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/resources/apikeys.properties
  shared/src/commonMain/resources/koin.properties
Labels: KMP

API Key addressed and database filled on init
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/util/GetApiKey.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/viewmodel/DashboardViewModel.kt
  shared/src/commonMain/resources/koin.properties
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/util/GetApiKey.ios.kt
Labels: KMP

Deleted a comment that had the API key
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Added koin.properties to gitignore
  .gitignore
  shared/src/commonMain/resources/koin.properties
Labels: KMP

Update Actions to Add koin.properties
  .github/actions/job-setup/action.yml
  .github/workflows/build-ios-release.yml
  .github/workflows/build.yml
Labels: none

Add Plantbook fallback image fix + add + cleanup reminders
  iosApp/GoogleService-Info.plist
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/ContentView.swift
Labels: iOS

Changed to call function to get key
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Properly Use Koin.Properties
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/APIModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/util/GetApiKey.ios.kt
Labels: KMP

Fix KoinTests
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/NotificationTest.kt
Labels: KMP

Fix API Constructor
  shared/src/commonMain/kotlin/com/gmg/growmygarden/network/PerenualApi.kt
Labels: KMP

Remove WIP work
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/DataModule.kt
  shared/src/commonMain/kotlin/com/gmg/growmygarden/util/GetApiKey.kt
Labels: KMP

Add Intantiation Test for API
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
Labels: KMP

Add Asserts to test Perenual API Key
  shared/src/commonTest/kotlin/com/gmg/growmygarden/NotificationTest.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Disable Notification Tests
  shared/src/commonTest/kotlin/com/gmg/growmygarden/NotificationTest.kt
Labels: KMP

Fix Notification Test Construction
  shared/src/commonTest/kotlin/com/gmg/growmygarden/NotificationTest.kt
Labels: KMP

Copy Resources and better secrets
  .github/actions/job-setup/action.yml
  .github/workflows/build-ios-release.yml
  shared/build.gradle.kts
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Fix Secret
  .github/workflows/build-ios-release.yml
  .github/workflows/run-tests.yml
  shared/build.gradle.kts
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Add better errors
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Show error message
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
Labels: KMP

Better Stack Trace and Gradle Property
  gradle.properties
  shared/build.gradle.kts
Labels: KMP

Load From Env for Testing Instead
  .github/workflows/run-tests.yml
  gradle.properties
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Add Assertion Message
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
Labels: KMP

Debug Messages
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
Labels: KMP

Downsize Module Size For Test
  gradle.properties
  shared/src/commonMain/kotlin/com/gmg/growmygarden/di/Helper.kt
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
Labels: KMP

Delay Instantiation
  shared/src/commonTest/kotlin/com/gmg/growmygarden/APIKoinTest.kt
Labels: KMP

More Debugging
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Add more test outputs
  shared/build.gradle.kts
Labels: KMP

Fix Env in action
  .github/workflows/run-tests.yml
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Error Message Instead of Assert
  shared/src/iosMain/kotlin/com/gmg/growmygarden/network/HttpClientFactory.ios.kt
Labels: KMP

Check Environment Variable
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Debug Environment
  .github/workflows/run-tests.yml
  shared/src/iosMain/kotlin/com/gmg/growmygarden/di/Helper.ios.kt
Labels: KMP

Set JVM Env
  .github/workflows/run-tests.yml
  shared/build.gradle.kts
Labels: KMP
